body {
    background: url(../images/winter-background.jpg);
}

#weatherImg {
    height: 270px;
    width: 350px;
    display: block;
    margin: auto;
}

#weatherInRoselle {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: lightskyblue;
}

#display {
    margin-top: 10px;
    font-size: 30px;
    background:lightskyblue;
}

#imageBox {
    align-content: center;
}

#weatherBox {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#tempBox {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#formBlock {
    display:block;
    margin:auto;
    text-align: center;
}

#timeDisplay {
    text-align: center;
    background: lightskyblue;
    font-size: 20px;
}